{% include 'header.html' %} 
    <img alt="title_logo" class="title_logo" src="static/media/title_add.png">
    {% for player in players %}
        <input type="hidden" value="{{player[3]}}" class="player_number{{player[3]}}"></input>
        <!-- <script src="{{ url_for('static', filename='desplegable.js')}}"></script> -->
    {% endfor %}
    {% block form %}
    {% if players|length < 11 %}  
    <form class="form_container" action="/store" method="post" enctype="multipart/form-data" novalidate>
        {{ form.hidden_tag() }}
        <div class="div_form">
            <div class="div_input">
                {{ form.txtNombre.label }}
                {{ form.txtNombre }}
            </div>
            <br>
            {% for error in form.txtNombre.errors %}
            <div class="msj_error">{{ error }}</div>
            {% endfor %}
            <!-- <label>Name:</label>
            <input type="text" name="txtNombre" id="txtNombre" required> -->
        </div>
        <br>
        <div class="">
            <label>Position:</label>
            <select name="txtPosition" id="txtPosition" required>
                <option value="Arquero">Arquero</option>
                <option value="Defensor">Defensor</option>
                <option value="Mediocampo">Mediocampo</option>
                <option value="Delantero">Delantero</option>
            </select>
        </div>
        <br>
        <div class="">
            <label>Number:</label>
            <select role="combobox" name="txtNum" id="txtNum">
                <script src="{{ url_for('static', filename='desplegable.js')}}"></script>
            </select>
        </div>
        <br>
        <div class="div_form">
            <div class="div_input">
                {{ form.txtFoto.label }}
                {{ form.txtFoto }}
            </div>
            <br>
            {% for error in form.txtFoto.errors %}
            <div class="msj_error">{{ error }}</div>
            {% endfor %}
            <!-- <label>Picture:</label>
            <input type="file" name="txtFoto" id="txtFoto" required> -->
        </div>
        <br>
        <br>
        {{ form.submit() }}
        <!-- <input type="submit" value="Add Player" class="button_add"> -->
    </form>
    {% else %}
    <p class="msj_error_create">Ya posee 11 jugadores, debe eliminar alguno para seguir agregando</p>  
    {% endif %}
    {% endblock form %}
{% include 'footer.html' %}