<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css')}}">
    <title>Document</title>
</head>
<body>
    <nav class="nav_container">
        <ul class="nav_list">
            <li class="nav_item">        
                <img alt="logo" class="img_logo" src="../static/media/logo.png">
            </li>
            <li class="nav_item"><a class="nav_link" href="/">Home</a></li>
            <li class="nav_item"><a class="nav_link" href="../team">Team Codo</a></li>
            <li class="nav_item"><a class="nav_link" href="../create">Add Player</a></li>
        </ul>
    </nav>
    {% for player in players %}
    <div class="info_player">
        {% for player_item in players_list %}
        <input type="hidden" value="{{player_item[3]}}" class="player_number{{player_item[3]}} player_edit"></input>
        {% endfor %}
        <p><strong>Nombre:</strong> {{ player[1] }}</p>
        <p><strong>Position:</strong> {{ player[2] }}</p>
        <p><strong>Number:</strong> {{ player[3] }}</p>
        <p>
            <br> 
            <img 
                width="100" 
                src="{{url_for('uploads', nombreFoto=player[4])}}" 
                alt=""
            > 
            <br>
        </p>
    </div>
    <form class="form_container" method="post" action="/update" enctype="multipart/form-data" novalidate>
        <div hidden class="div_form">
            <input type="hidden" value="{{ player[0] }}" name="txtID" id="txtID">
        </div>
        {{ form.hidden_tag() }}
        <div class="div_form">
            <div class="div_input">
                {{ form.txtNombre.label }}
                {{ form.txtNombre(value=player[1]) }}
            </div>
            <br>
            {% for error in form.txtNombre.errors %}
            <div class="msj_error">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="">
            <label>Position:</label>
            <select value="{{ player[2] }}" name="txtPosition" id="txtPosition">
                <option value="Arquero">Arquero</option>
                <option value="Defensor">Defensor</option>
                <option value="Mediocampo">Mediocampo</option>
                <option value="Delantero">Delantero</option>
            </select>
        </div>
        <br>
        <div class="">
            <label>Number:</label>
            <select role="combobox" name="txtNum" id="txtNum">
                <script src="{{ url_for('static', filename='desplegable.js')}}"></script>
                <option value="{{ player[3] }}">{{ player[3] }}</option>
            </select>
        </div>
        <br>
        <div class="div_form">
            <div class="div_input">
                {{ form.txtFoto.label }}
                {{ form.txtFoto(value=player[4]) }}
            </div>
            <br>
            {% for error in form.txtFoto.errors %}
            <div class="msj_error">{{ error }}</div>
            {% endfor %}
        </div>
        <br>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="msj_error msj_error_center">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        <br>
        {{ form.submit(class_='button_add', value="Update Player") }}
    </form>  
    {% endfor %}
{% include 'footer.html' %}