{% include 'header.html' %}    
<div class="home_container">
    <p class="description_home">
        Este proyecto es una muestra de los conocimientos adquiridos en el modulo de Backend del programa <strong>Codo a codo 4.0</strong>
        edición 2022. Gracias a todo el equipo de Codo, al Profesor Juan Pablo Nardone y a mis excelentes compañeros
    </p>
    <div class="img_home_container">
        <img alt="img_home" class="img_home" src="static/media/codo_logo.png">
        <img alt="img_home" class="img_home" src="static/media/codo.png">
    </div>
</div>
{% include 'footer.html' %}